/* Fonts */

@font-face {
    font-family: "Kelly-Slab";
    src: url("./KellySlab-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "PT-Mono";
    src: url("./PTMono-Regular.woff2") format("woff2");
}


/* main page boxes */

h1 {
    font-family: "Kelly-Slab";
    font-weight: 300;
    color: #66002C;
    margin: 0;
    padding: 0;
}

.header-ribbon {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.171);
}

.list {
    margin-top: 10%;
}

.middle-ribbon {
    width: 100%;
    margin-left: 0;
    background: rgba(255, 255, 255, 0.336);
    min-height: fit-content;
}

.float-box {
    background-color: #ffffff;
    height: 10%;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    overflow: auto;
    text-align: center;
}

.float-element {
    float: left;
    width: 300px;
    overflow: auto;
    min-height: fit-content;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.container {
    width: 800px;
    padding: 50px;
}

dd,
dt {
    text-align: center;
    margin: auto;
}

dd button {
    margin-top: 10px;
}

h2 {
    text-align: center;
}


/* Buttons */

button {
    right: 20px;
    top: 10px;
    border-color: #291514;
    border-style: solid;
    background-color: #a1855b;
    color: white;
    width: 100px;
}

.color-themes-switch {
    position: absolute;
    background-color: #661515;
}


/* theme color */

body.color {
    font-family: "PT-Mono";
    background-color: #87989a;
}

.color-themes-switch.color {
    position: absolute;
}

button:hover {
    background-color: tomato;
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    opacity: 0%;
}


/* theme black */

body.bw {
    font-family: "PT-Mono";
    background-color: rgb(34, 33, 33);
    color: black;
}


/* Timer */

.timer {
    padding-top: 50px;
    font-size: 50px;
}


/* lottery */

.lottery-history {
    /* height: fit-content; */
}

.lottery-history dt {
    float: left;
    clear: left;
    padding: 10px 100px;
    /*верх, право, низ, лево */
}

.lottery-history dt:nth-child(4n+3) {
    background: burlywood;
}

.lottery-history dd:nth-child(4n+4) {
    background: burlywood;
}

.lottery-history dd {
    color: brown;
    float: right;
    clear: right;
    padding: 10px 100px;
    /* верх-низ, право-лево */
}


/* Colors */

.col {
    color: #291514;
    color: #809848;
    color: #EDF3E2;
    color: #66002C;
    color: #00030c;
    color: #022e3a;
    color: #87989a;
    color: #ffd6a2;
    color: #a1855b;
}